{% extends 'base.html' %} 

{% block content %}
    <h2 style="text-align: center">{{ search | title}}</h2>
        
    <div class='row'>
    <h1>getting database</h1>
        {% for post in final_postings %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image carousel carousel-slider center">
                        {% for url in post.3 %}
                            <a class="carousel-item" href="/"><img src="{{ url }}" /></a>
                        {% endfor %}
                    </div>
                    <div class="card-content">
                        <p>{{ post.0 }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ post.1 }}">View listing: {{ post.2 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
